<div class="jumbotron">
  <h1 class="display-3">But First, Coffee</h1>
  <p class="lead">What better way to start the day, then with a cup of coffee. Sign up today to find popular coffee shops in the area.</p>
  <hr class="my-4">
  <p class="lead2">
    <%= link_to "Start your day here", cafes_path, class: 'btn btn-info' %>
  </p>
</div>