<body class="homepage">
  <div class="jumbotron">
    <h1 class="display-3">But First, Coffee</h1>
    <hr class="my-4">
    <p class="lead">
      <%= link_to "Start your day here", cafes_path %>
    </p>
  </div>
</body>