
<ul class='list-group'>
    <% @cafes.each do |c| %>
        <li class='list-group-item'>
            <%= link_to c.name, cafe_path(c) %>
            <% p_button_text = c.published ? "Unpublish" : "Publish" %>
            <%= link_to p_button_text, toggle_publish_cafe_path(c), method: :patch, class: 'btn btn-outline-primary btn-sm' %>
        </li>
    <% end %>
</ul>

Don't see what you're looking for?
<%= link_to "SUGGEST A SHOP", new_cafe_path %>
