
<ul class='list-group'>
    <% @cafes.each do |c| %>
        <li class='list-group-item'>
            <%= link_to c.name, cafe_path(c) %>
            <% unless c.published %>
                (Draft)
            <% end %>
        </li>
    <% end %>
</ul>

Don't see what you're looking for?
<%= link_to "SUGGEST A SHOP", new_cafe_path %>
