@import "bootstrap";

.homepage {
    background-image: image-url("background.jpg");
    background-size: cover;
    background-position: 0 -170px;
}

body {
    background-image: image-url("wooden-table.jpg");
    background-size: cover;
    background-position: 0 -170px;
}

.btn {
    float: right;
}

.jumbotron {
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 195px;
    opacity: 0.7;
}

.lead {
    text-align: right;
}

.bg-light {
    background-color: rgba(255, 255, 255, 0) !important;
}

label, .navbar-light .navbar-text, .navbar-light .navbar-nav .nav-link, .suggestions, .cafe {
    color: rgba(255, 255, 255, 0.7);
}

.list-group {
    opacity: 0.8;
}

img {
    margin-left: -20px;
}