@import "bootstrap";

body {
    background-image: image-url('background.jpg');
    background-size:cover;
    // background-repeat: no-repeat;
    background-position: 0 -170px;
}

.btn {
    float: right;
}

// body {
//     background-image: url("https://static.independent.co.uk/s3fs-public/styles/story_large/public/thumbnails/image/2016/06/15/14/pp-hot-coffee-rf-istock.jpg");
//     background-repeat: no-repeat;
//     background-size: 1450px 1100px;
//     background-position: center;
// }

.jumbotron {
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 200px;
    opacity: 0.7;
}